:root {
	--background: #fce6e6;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat";
	font-weight: 300;
	background: var(--background);
}

canvas {
	margin-top: 15vh;
	margin-left: 30vw;
}